<div>
    {{ include('BeitechBundle:Form:subForm/4_playList/formPlayListLogIn/1_listByArtist.html.twig') }}
    {{ include('BeitechBundle:Form:subForm/4_playList/formPlayListLogIn/2_listByGenre.html.twig') }}
    {{ include('BeitechBundle:Form:subForm/4_playList/formPlayListLogIn/3_listByDataMining.html.twig') }}
    {{ include('BeitechBundle:Form:subForm/4_playList/formPlayListLogIn/4_listByYou.html.twig') }}
</div>