<div>
    {{ include('BeitechBundle:Form:subForm/4_playList/formPlayListLogOut/1_listByArtist.html.twig') }}
    {{ include('BeitechBundle:Form:subForm/4_playList/formPlayListLogOut/2_listByGenre.html.twig') }}
    {{ include('BeitechBundle:Form:subForm/4_playList/formPlayListLogOut/3_listByDataMining.html.twig') }}
    {{ include('BeitechBundle:Form:subForm/4_playList/formPlayListLogOut/4_listByYou.html.twig') }}
</div>