<div
    style="
    position: absolute;
    background: blue;">
    {{ include('BeitechBundle:Form:subForm/4_playList/iconPlayListLogIn/1_listByArtist.html.twig') }}
    {{ include('BeitechBundle:Form:subForm/4_playList/iconPlayListLogIn/2_listByGenre.html.twig') }}
    {{ include('BeitechBundle:Form:subForm/4_playList/iconPlayListLogIn/3_listByDataMining.html.twig') }}
    {{ include('BeitechBundle:Form:subForm/4_playList/iconPlayListLogIn/4_listByYou.html.twig') }}
</div>