<div>
    {{ include('BeitechBundle:Form:subForm/4_playList/iconPlayListLogOut/1_listByArtist.html.twig') }}
    {{ include('BeitechBundle:Form:subForm/4_playList/iconPlayListLogOut/2_listByGenre.html.twig') }}
    {{ include('BeitechBundle:Form:subForm/4_playList/iconPlayListLogOut/3_listByDataMining.html.twig') }}
    {{ include('BeitechBundle:Form:subForm/4_playList/iconPlayListLogOut/4_listByYou.html.twig') }}
</div>