<div id="listByArtistLogInForm" 
     style="
     position: absolute;
     background: yellow;
     width: 100%;
     top: 70px;
     left: 0px;
     bottom: 0px;
     {#opacity: 0.2;#}
     z-index: 1;
     ">

    <div id='listByArtistLogInForm_content'
         style='
         background: red;
         width: 100%;
         top: 50px;
         bottom: 0px;'>
    </div>

</div>
