<div id="listByGenreLogInForm"
     style="background-color: blue;
     width: 100%;
     position: absolute;
     top: 70px;
     left: 0px;
     bottom: 0px;
     opacity: 0;
     ">
    
    <div id='listByGenreLogInForm_content'
         style='
         background: red;
         width: 100%;
         top: 50px;
         bottom: 0px;'>
    </div>
    
</div>