<div id="listByYouLogInForm"
     style="background-color: purple;
     width: 100%;
     position: absolute;
     top: 70px;
     left: 0px;
     bottom: 0px;
     opacity: 0;
     ">
    listByYouLogInDiv
</div>