<div id="listByArtistLogOutForm" 
     style="background: yellow;
     width: 100%;
     position: absolute;
     top: 70px;
     left: 0px;
     bottom: 0px;
     opacity: 0.2;
     ">
    listByArtistLogOutForm
</div>