<div id="listByGenreLogOutForm"
     style="background-color: blue;
     width: 100%;
     position: absolute;
     top: 70px;
     left: 0px;
     bottom: 0px;
     opacity: 0;
     ">
    listByGenreLogOutDiv
</div>