<div id="payPal"
     style="background: red;
     {#display: none;#}">
    {{ include('BeitechBundle:Form:subForm/3_donate/1_payPal.html.twig') }}
</div>
<div id="payU"
     style="background: red;
     {#display: none;#}">
    {{ include('BeitechBundle:Form:subForm/3_donate/2_payU.html.twig') }}
</div>
<div id="googleCheckOut"
     style="background: red;
     {#display: none;#}">
    {{ include('BeitechBundle:Form:subForm/3_donate/3_googleCheckOut.html.twig') }}
</div>
<div id="anotherWayToPay"
     style="background: red;
     {#display: none;#}">
    {{ include('BeitechBundle:Form:subForm/3_donate/4_anotherWayToPay.html.twig') }}
</div>