<table width="100%" style="background-color: white;" border="0">
    <tr>
        <td width="50%">
            <form action="{{path('index_video')}}" method="post" enctype="multipart/form-data">
                <input type="file" name="video" />
                <input type="submit" {#name="submit"#} value="Upload!" />
            </form>
        </td>
    </tr>
</table>

<video width="320" height="240" controls>
  <source src="/files/amarillo11.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
</video>


<video width="320" height="240" controls>
  <source src="{{ asset('files/amarillo11.mp4') }}" type="video/mp4">
</video>