<table border="0" width='100%'>
    <tr>
        <td colspan='2'>
            <img src="files/images/video1.png" style="width:99%;">
        </td>
    </tr>
    <tr>
        <td>
            ID: 
        </td>
        <td>
            <textarea id="productIdTXT" name="comentarios" rows="2" cols="35" style="resize: none;" disabled="true"></textarea>
        </td>
    </tr>
    <tr>
        <td>
            NAME: 
        </td>
        <td>
            <textarea id="productNameTXT" name="comentarios" rows="2" cols="35" style="resize: none;" disabled="true"></textarea>
        </td>
    </tr>
    <tr>
        <td>
            DESCRIPTION:
        </td>
        <td>
            <textarea id="productDescriptionTXT" name="comentarios" rows="2" cols="35" style="resize: none;" disabled="true"></textarea>
        </td>
    </tr>
    <tr>
        <td>
            PRICE: 
        </td>
        <td>
            <textarea id="productPriceTXT" name="comentarios" rows="2" cols="35" style="resize: none;" disabled="true"></textarea>
        </td>
    </tr>
    <tr>
        <td>
            AMOUNT: 
        </td>
        <td>
            <textarea type="text" id="amount_product" placeholder="amount" name="amountProduct"  rows="2" cols="35" style="resize: none;" onkeypress="return numeros(event)"></textarea>
        </td>
    </tr>
</table>

<hr>

<table border="0" width="100%">
    <tr>
        <td>
            <p>NEW ORDER: </p>
        </td>
        <td>
            <textarea type="text" id="delivery_address" placeholder="New order" name="orderName" rows="2" cols="35" style="resize: none;"></textarea>
        </td>
        <td align="right">
            <a style="background-color: white; border-color: white;" class="btn btn-sm glyphicon glyphicon-plus searchProduct" onclick="addOrder();">
                {# ADICIONAR TIPO PRENDA BOTON CHULITO #}
            </a>
        </td>
    </tr>
</table>
<br>

<div class="reloadListOrdersDiv" style="overflow-y: scroll; height: 200px;">
    <div class="panel-group" id="orderAccordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">

            <div class="panel-heading" role="tab" id="headingOrderOne">
                <table border="0" width="100%">
                    <tr>
                        <td width="100%">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" aria-label="...">
                                </span>
                                <input type="text" class="form-control" aria-label="...">
                            </div><!-- /input-group -->
                        </td>
                        <td align="right">
                            <a style="background-color: white; border-color: white;" class="btn btn-sm batpf glyphicon glyphicon-edit searchProduct">
                                {# ADICIONAR TIPO PRENDA BOTON CHULITO #}
                            </a>
                        </td>
                        <td>
                            <a role="button" data-toggle="collapse" data-parent="#orderAccordion" href="#collapseOrderOne" aria-expanded="true" aria-controls="collapseOrderOne"
                               style="background-color: white; border-color: white;"
                               class="btn btn-sm batpf glyphicon glyphicon-resize-full searchProduct">
                                {# AMPLIAR INFORMATION #}
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="collapseOrderOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOrderOne">
                <div class="panel-body">
                    <table id="tableListProductId" class="tableListProduct" border="2" width="100%" height="100px" style="background-color: brown;">
                        <tr>
                            <td>
                                <p id="ejemplito123">here we put the list of products</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function numeros(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = " 0123456789";
        especiales = [8, 37, 39, 46];

        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }

        if (letras.indexOf(tecla) == -1 && !tecla_especial)
            return false;
    }

    function addOrder()
    {
        console.log("Introduce order");

        var form = $('#introduce-setlist-data-ajax');
        var url = form.attr('action');

        var delivery_address = document.getElementById('delivery_address').value;

        var user_id = document.getElementById('user_id_login').innerHTML;

        if (!delivery_address) {
            alert("You need to introduce all information");

            var d = document.getElementById("buttonSignUp");
            d.removeAttribute("data-dismiss");

        } else {

            console.log("delivery address" + delivery_address);
            console.log("user id" + user_id);
            $.post(url, {delivery_address: delivery_address,
                user_id: user_id
            }, function (result) {
                console.log("1" + result[0].order_id);
                console.log(result[0].order_id_user);
                console.log("3" + result[0].order_delivery_address);

                reloadListOrders();

            }).fail(function () {
                alert('ERROR');
            });
        }
        console.log("Introduce order2204");
    }

    function reloadListOrders() {
        var user_id = document.getElementById('user_id_login').innerHTML;

        $.post("reloadListOrders", {user_id: user_id}, function (htmlExterno) {
            $(".reloadListOrdersDiv").html(htmlExterno);
        });
    }
    
    function reloadListProduct(setlistId) {
        var setlist_id = setlistId;

        $.post("reloadListProducts", {setlist_id: setlist_id}, function (htmlExterno) {
            $(".tableListProduct2204").html(htmlExterno);
        });
    }
</script>