<style>
    div.sessionManage {
        -webkit-animation: logInButtonAnimacion 10s;
        animation: primeraAnimacion 10s linear 0s infinite alternate;
    }

    @-webkit-keyframes logInButtonAnimacion{
        0%{background-color: #1ab7ea;}
        25%{background-color: yellow;}
        50%{background-color: blue;}
        100%{background-color: green;}
    }
</style>

<div 
    class="sessionManage"
    {#    id="toBig" #}
    id ="logInIcon"
    style="
    z-index: 3; 
    width: 30px; 
    height: 30px; 
    {#     background-color: red; #}
    top: 0px; 
    right: 0px; 
    position: absolute;
    opacity: 0.4;
    transition-property: all;
    transition-duration: 0.5s;" 
    onclick="displaceLogInForm(), validateLoginForm();">
</div>

{#<div 
    class="sessionManage"
    id="toLittle" 
    style="
    z-index: 3; 
    width: 50px; 
    height: 50px; 
    top: 400px; 
    right: 20px; 
    position: absolute;
    opacity: 0.7;" 
    onclick="desactivateLeftToolBar(), highlightlogInForm();">
</div>#}


<script>

    function validateLoginForm()
    {
        var form = $('#check-sesion-ajax');
        var url = form.attr('action');

        $.post(url, function (data)
        {
            var sessionStatus = data[0].sessionStatus;

            if (sessionStatus === "0")
            {
                console.log("1_NO se encuentra logueado");
                highlightlogInForm();
            } else
            {
                console.log("1_se encuentra logueado");
                highlightlogInForm();
            }
        }).fail(function () {
            alert('ERROR');
        });
    }

    function displaceLogInForm() {

        if (parseInt(document.getElementById('logInIcon').style.opacity) === 1)
        {
            document.getElementById('addToListIcon').style.opacity = 0.4;
            document.getElementById('donateToThisArtistIcon').style.opacity = 0.4;
            document.getElementById('logInIcon').style.opacity = 0.4;
            document.getElementById('uploadVideoIcon').style.opacity = 0.4;
            document.getElementById('marketingAndPublicityIcon').style.opacity = 0.4;
            document.getElementById('informationIcon').style.opacity = 0.4;
            document.getElementById('commentIcon').style.opacity = 0.4;
            document.getElementById('newsFeedIcon').style.opacity = 0.4;

            document.getElementById('rightFormBar').style.transitionDuration = "0.5s";
            document.getElementById('rightFormBar').style.right = "190px";
            document.getElementById('rightFormBar').style.width = "0px";
            document.getElementById('searchEngineId').style.transitionDuration = "0.5s";
            document.getElementById("searchEngineId").style.width = "190px";
            document.getElementById('presentationProduct').style.transitionDuration = "0.5s";
            document.getElementById('presentationProduct').style.right = "190px";
            document.getElementById('displaceIcon2').style.transitionDuration = "0.5s";
            document.getElementById('displaceIcon2').style.right = "160px";

        } else
        {
            document.getElementById('addToListIcon').style.opacity = 0.4;
            document.getElementById('donateToThisArtistIcon').style.opacity = 0.4;
            document.getElementById('logInIcon').style.opacity = 1;
            document.getElementById('uploadVideoIcon').style.opacity = 0.4;
            document.getElementById('marketingAndPublicityIcon').style.opacity = 0.4;
            document.getElementById('informationIcon').style.opacity = 0.4;
            document.getElementById('commentIcon').style.opacity = 0.4;
            document.getElementById('newsFeedIcon').style.opacity = 0.4;

            document.getElementById('rightFormBar').style.transitionDuration = "0.5s";
            document.getElementById('rightFormBar').style.right = "190px";
            document.getElementById('rightFormBar').style.width = "370px";
            document.getElementById('searchEngineId').style.transitionDuration = "0.5s";
            document.getElementById("searchEngineId").style.width = "560px";
            document.getElementById('presentationProduct').style.transitionDuration = "0.5s";
            document.getElementById('presentationProduct').style.right = "590px";
            document.getElementById('displaceIcon2').style.transitionDuration = "0.5s";
            document.getElementById('displaceIcon2').style.right = "560px";
        }
    }

    function highlightlogInForm() {
{#
        document.getElementById('logInForm').style.display = "block";
        document.getElementById('uploadVideoForm').style.display = "none";
        document.getElementById('donateToThisArtistForm').style.display = "none";
        document.getElementById('addToListForm').style.display = "none";
        document.getElementById('marketingAndPublicityForm').style.display = "none";
        document.getElementById('informationForm').style.display = "none";
        document.getElementById('commentForm').style.display = "none";
        document.getElementById('newsFeedForm').style.display = "none";

        document.getElementById('logInFormBackGround').style.display = "block";
        document.getElementById('uploadVideoFormBackGround').style.display = "none";
        document.getElementById('donateToThisArtistFormBackGround').style.display = "none";
        document.getElementById('addToListFormBackGround').style.display = "none";
        document.getElementById('marketingAndPublicityFormBackGround').style.display = "none";
        document.getElementById('informationFormBackGround').style.display = "none";
        document.getElementById('commentFormBackGround').style.display = "none";
        document.getElementById('newsFeedFormBackGround').style.display = "none";#}

        ////////////////////////////////////////////////////////////////



        document.getElementById('addToListForm').style.zIndex = 1;
        document.getElementById('donateToThisArtistForm').style.zIndex = 1;
        document.getElementById('logInForm').style.zIndex = 2;
        document.getElementById('uploadVideoForm').style.zIndex = 1;
        document.getElementById('marketingAndPublicityForm').style.zIndex = 1;
        document.getElementById('informationForm').style.zIndex = 1;
        document.getElementById('commentForm').style.zIndex = 1;
        document.getElementById('newsFeedForm').style.zIndex = 1;

        document.getElementById('addToListFormBackGround').style.zIndex = 1;
        document.getElementById('donateToThisArtistFormBackGround').style.zIndex = 1;
        document.getElementById('logInFormBackGround').style.zIndex = 2;
        document.getElementById('uploadVideoFormBackGround').style.zIndex = 1;
        document.getElementById('marketingAndPublicityFormBackGround').style.zIndex = 1;
        document.getElementById('informationFormBackGround').style.zIndex = 1;
        document.getElementById('commentFormBackGround').style.zIndex = 1;
        document.getElementById('newsFeedFormBackGround').style.zIndex = 1;

        document.getElementById('addToListForm').style.opacity = 0;
        document.getElementById('donateToThisArtistForm').style.opacity = 0;
        document.getElementById('logInForm').style.opacity = 1;
        document.getElementById('uploadVideoForm').style.opacity = 0;
        document.getElementById('marketingAndPublicityForm').style.opacity = 0;
        document.getElementById('informationForm').style.opacity = 0;
        document.getElementById('commentForm').style.opacity = 0;
        document.getElementById('newsFeedForm').style.opacity = 0;

        document.getElementById('addToListFormBackGround').style.opacity = 0;
        document.getElementById('donateToThisArtistFormBackGround').style.opacity = 0;
        document.getElementById('logInFormBackGround').style.opacity = 0.1;
        document.getElementById('uploadVideoFormBackGround').style.opacity = 0;
        document.getElementById('marketingAndPublicityFormBackGround').style.opacity = 0;
        document.getElementById('informationFormBackGround').style.opacity = 0;
        document.getElementById('commentFormBackGround').style.opacity = 0;
        document.getElementById('newsFeedFormBackGround').style.opacity = 0;
    }
</script>