<div id="donateToThisArtistIcon"
     style="
     position: absolute;
     {#background-color: red;#}
     opacity: 0.4;
     right: 0px;
     top: 120px;
     width: 30px;
     height: 30px;
     transition-property: all;
     transition-duration: 0.5s;"
     onclick="displaceDonateToThisArtistForm(), validateDonateToThisArtistForm();">
    <img src="files/images/icons/heart.png" alt="Mountain View" style="width:30px; height:30px; opacity: 0.9;">
</div>

<script>

    function validateDonateToThisArtistForm() {
        var form = $('#check-sesion-ajax');
        var url = form.attr('action');

        $.post(url, function (data)
        {
            var sessionStatus = data[0].sessionStatus;

            if (sessionStatus === "0")
            {
                console.log("3_NO se encuentra logueado");
                highlightDonateToThisArtistForm();
            } else
            {
                console.log("3_se encuentra logueado");
                highlightDonateToThisArtistForm();
            }

        }).fail(function () {
            alert('ERROR');
        });
    }

    function displaceDonateToThisArtistForm() {
        if (parseInt(document.getElementById('donateToThisArtistIcon').style.opacity) === 1)
        {
            document.getElementById('addToListIcon').style.opacity = 0.4;
            document.getElementById('donateToThisArtistIcon').style.opacity = 0.4;
            document.getElementById('logInIcon').style.opacity = 0.4;
            document.getElementById('uploadVideoIcon').style.opacity = 0.4;
            document.getElementById('marketingAndPublicityIcon').style.opacity = 0.4;
            document.getElementById('informationIcon').style.opacity = 0.4;
            document.getElementById('commentIcon').style.opacity = 0.4;
            document.getElementById('newsFeedIcon').style.opacity = 0.4;

            document.getElementById('rightFormBar').style.transitionDuration = "0.5s";
            document.getElementById('rightFormBar').style.right = "190px";
            document.getElementById('rightFormBar').style.width = "0px";
            document.getElementById('searchEngineId').style.transitionDuration = "0.5s";
            document.getElementById("searchEngineId").style.width = "190px";
            document.getElementById('presentationProduct').style.transitionDuration = "0.5s";
            document.getElementById('presentationProduct').style.right = "190px";
            document.getElementById('displaceIcon2').style.transitionDuration = "0.5s";
            document.getElementById('displaceIcon2').style.right = "160px";
        } else
        {
            document.getElementById('addToListIcon').style.opacity = 0.4;
            document.getElementById('donateToThisArtistIcon').style.opacity = 1;
            document.getElementById('logInIcon').style.opacity = 0.4;
            document.getElementById('uploadVideoIcon').style.opacity = 0.4;
            document.getElementById('marketingAndPublicityIcon').style.opacity = 0.4;
            document.getElementById('informationIcon').style.opacity = 0.4;
            document.getElementById('commentIcon').style.opacity = 0.4;
            document.getElementById('newsFeedIcon').style.opacity = 0.4;

            document.getElementById('rightFormBar').style.transitionDuration = "0.5s";
            document.getElementById('rightFormBar').style.right = "190px";
            document.getElementById('rightFormBar').style.width = "370px";
            document.getElementById('searchEngineId').style.transitionDuration = "0.5s";
            document.getElementById("searchEngineId").style.width = "560px";
            document.getElementById('presentationProduct').style.transitionDuration = "0.5s";
            document.getElementById('presentationProduct').style.right = "590px";
            document.getElementById('displaceIcon2').style.transitionDuration = "0.5s";
            document.getElementById('displaceIcon2').style.right = "560px";
        }
    }

    function highlightDonateToThisArtistForm() {
        {#document.getElementById('logInForm').style.display = "none";
        document.getElementById('uploadVideoForm').style.display = "none";
        document.getElementById('donateToThisArtistForm').style.display = "block";
        document.getElementById('addToListForm').style.display = "none";
        document.getElementById('marketingAndPublicityForm').style.display = "none";
        document.getElementById('informationForm').style.display = "none";
        document.getElementById('commentForm').style.display = "none";
        document.getElementById('newsFeedForm').style.display = "none";

        document.getElementById('logInFormBackGround').style.display = "none";
        document.getElementById('uploadVideoFormBackGround').style.display = "none";
        document.getElementById('donateToThisArtistFormBackGround').style.display = "block";
        document.getElementById('addToListFormBackGround').style.display = "none";
        document.getElementById('marketingAndPublicityFormBackGround').style.display = "none";
        document.getElementById('informationFormBackGround').style.display = "none";
        document.getElementById('commentFormBackGround').style.display = "none";
        document.getElementById('newsFeedFormBackGround').style.display = "none";#}

        /////////////////////////////////////////////////////////////////////
        document.getElementById('addToListForm').style.zIndex = 1;
        document.getElementById('donateToThisArtistForm').style.zIndex = 2;
        document.getElementById('logInForm').style.zIndex = 1;
        document.getElementById('uploadVideoForm').style.zIndex = 1;
        document.getElementById('marketingAndPublicityForm').style.zIndex = 1;
        document.getElementById('informationForm').style.zIndex = 1;
        document.getElementById('commentForm').style.zIndex = 1;
        document.getElementById('newsFeedForm').style.zIndex = 1;

        document.getElementById('addToListFormBackGround').style.zIndex = 1;
        document.getElementById('donateToThisArtistFormBackGround').style.zIndex = 2;
        document.getElementById('logInFormBackGround').style.zIndex = 1;
        document.getElementById('uploadVideoFormBackGround').style.zIndex = 1;
        document.getElementById('marketingAndPublicityFormBackGround').style.zIndex = 1;
        document.getElementById('informationFormBackGround').style.zIndex = 1;
        document.getElementById('commentFormBackGround').style.zIndex = 1;
        document.getElementById('newsFeedFormBackGround').style.zIndex = 1;

        document.getElementById('addToListForm').style.opacity = 0;
        document.getElementById('donateToThisArtistForm').style.opacity = 1;
        document.getElementById('logInForm').style.opacity = 0;
        document.getElementById('uploadVideoForm').style.opacity = 0;
        document.getElementById('marketingAndPublicityForm').style.opacity = 0;
        document.getElementById('informationForm').style.opacity = 0;
        document.getElementById('commentForm').style.opacity = 0;
        document.getElementById('newsFeedForm').style.opacity = 0;

        document.getElementById('addToListFormBackGround').style.opacity = 0;
        document.getElementById('donateToThisArtistFormBackGround').style.opacity = 0.1;
        document.getElementById('logInFormBackGround').style.opacity = 0;
        document.getElementById('uploadVideoFormBackGround').style.opacity = 0;
        document.getElementById('marketingAndPublicityFormBackGround').style.opacity = 0;
        document.getElementById('informationFormBackGround').style.opacity = 0;
        document.getElementById('commentFormBackGround').style.opacity = 0;
        document.getElementById('newsFeedFormBackGround').style.opacity = 0;
    }
</script>